*, *::before, ::after{margin: 0;box-sizing:inherit;word-break:inherit }
ul,li{padding:0;list-style:none}
html, body{height:100%}
body{font-size: 16px;line-height: 1.6;background:#fff;color:#121212;box-sizing:border-box;word-break:break-word;font-family:'Montserrat', sans-serif}
.container{max-width:100%;margin:0 auto;padding:0 13px}

.parent-element{border:5px solid #faaf66;display:flex;flex-flow:row wrap}
.child-element{background: beige; border: 3px solid #fcd9af;padding:10px;margin:20px}

/* 
  - flex-flow is a combination of flex-direction and flex-wrap.

  --- Below are flex-item properties:
  - Default value of flex-order is 0. And the position of items can be decided using this scale: [... -1 0 1 ...]
  - Default value of flex-grow is 0.
  - Default value of flex-shrink is 1.
  - Default value of flex-basis is auto(Think of it as, applying an initial width to the item).
  - Flex Shorthand: flex-grow flex-shrink flex-basis.
  - align-self property is for a single flex-item.
  - When there is only 1 line, align-content has no effect. align-content can have a value of flex-start, flex-end, etc.(flexbox froggy: Level 21, Level 22)

  Learning Resources:
    - https://the-echoplex.net/flexyboxes
    - https://flexboxfroggy.com/
    - http://www.flexboxdefense.com/
*/
